*.csv
*.ods
*.odt
*.pickle
*.sqlite
*.zip
*checkpoint*
*solution*
*submission*
/Canvas
/Data
/DataCamp
/Grades
# /Notebooks
/Office\ Hours
/Projects
/Quizzes
/Research\ Computing
/Syllabus
/Teammates
/Temporary
